.surveys-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5px 0;
}

.surveys-table td.options {
  white-space: nowrap;
  width: 300px; /* Adjust this value as needed */
}

button {
  border-radius: 0.25rem;
  min-height: 35px;
  font-size: 14px;
}

.add-new {
  background-color: #1BC98E;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.surveys-table {
  width: 100%;
  border-collapse: collapse;
}

.surveys-table th,
.surveys-table td {
  border: none;
  padding: 8px;
}
.surveys-table td {
  border-top: 2px solid #e9ecef;
  padding: 8px;
}

.ugh {
    border-bottom: 1px solid #e9ecef;
  margin-bottom: 15px;
}

.surveys-table th {
  border: none !important;
  background-color: white;
  text-align: left;
}

.btn {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.edit {
  background-color: #1997c6;
  color: white;
}

.questions {
  background-color: #1BC98E;
  color: white;
}

.share {
  background-color: #9F86FF;
  color: white;
}

.share-disabled {
  background-color: #efefef;;
  color: #acacac;
  cursor: not-allowed;
}

.responses-active {
  background-color: #E4D836;
  color: white;
}

.responses-disabled {
  background-color: #efefef;;
  color: #acacac;
  cursor: not-allowed;
}

.status {
  font-weight: bold;
}

.status.published {
  color: green;
}

.status.unpublished {
  color: red;
}

.nav-header {
	font-size: 85%;
	font-weight: normal;
	letter-spacing: 1px;
	color: #a2a9b1;
	text-transform: uppercase;
}

.survey-title {
	margin-top: 0;
}